/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Typography */
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

  @media screen and (max-width: 1680px) {
    body:before {
      width: 21em; } }

body, input, select, textarea {
  font-family:'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13pt;
  line-height: 1.5em;
  color: #666666; }

strong, b {
  color: #444444; }


h1, h2, h3, h4, h5, h6 {
  color: #444444;
  letter-spacing: -0.015em;
  font-weight: 700;
  line-height: 1.375; }

h1 {
  font-size: 2.25em;
  margin: 0 0 1.5em 0; }
  h1 + .heading-description {
    font-size: 2.25em;
    color: #444444;
    letter-spacing: -0.015em;
    font-weight: 700;
    line-height: 1.375; }
    h1 + .heading-description:before {
      content: ', '; }

h2 {
  font-size: 1.5em;
  margin: 0 0 1.5em 0; }

h3 {
  font-size: 1.2em;
  margin: 0 0 0.25em 0; }
  h3 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0; }

p, ul, ol, table, form {
  margin: 0 0 5px 0; }

dl dt {
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: -0.015em;
  color: #444444;
  margin: 0 0 0.75em 0;
  font-weight: 700; }
dl dd {
  margin: 0 0 2em 0; }
  dl dd > :last-child {
    margin-bottom: 0; }
  dl dd:last-child {
    margin-bottom: 0; }

.border1 { margin: 20px 0px; background-color: #f5f5f5;   border-radius: 10px; padding: 20px; }
.border2 { margin: 20px 0px; background-color: #f5f5f5;   border-radius: 10px; padding: 20px; }
.border3 { margin: 20px 0px; background-color: #f5f5f5;   border-radius: 10px; padding: 20px; }
.border4 { margin: 20px 0px; background-color: #f5f5f5;   border-radius: 10px; padding: 20px; }
.border5 { margin: 20px 0px; background-color: #f5f5f5;   border-radius: 10px; padding: 20px; }
.border6 { margin: 20px 0px; background-color: #f5f5f5;   border-radius: 10px; padding: 20px; }

small {
  font-size: 0.8em; }

mark {
  color: #fff;
  background-color: #ff6098;
  border-radius: 4px;
  padding: 0.0875em 0.225em;
  margin: 0.125em; }

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 11pt; }

  h1 {
    font-size: 2em; }
    h1 + .heading-description {
      font-size: 2em; } }
@media screen and (max-width: 960px) {
  body:before {
    display: none; }

  h1 {
    font-size: 1.75em; }
    h1 + .heading-description {
      font-size: 1.75em; } }
@media screen and (max-width: 736px) {
  body:before {
    display: none; }

  h1 {
    font-size: 1.5em; }
    h1 + .heading-description {
      font-size: 1.5em; } }



/* Main */
#main {
  margin-left: 22em;
  position: relative; }
  @media screen and (max-width: 1680px) {
    #main {
      margin-left: 21em;
      padding-top: 3em;
      padding-bottom: 6em; } }
  @media screen and (max-width: 960px) {
    #main {
      margin-left: 0;
      margin-top: 44px;
      padding: 2em 2em 2em 2em; } }
  @media screen and (max-width: 480px) {
    #main {
      padding: 1em; } }

/* Modal */
#modal {
  position: relative;
  background: #fff;
  border-radius: 4px;
  max-width: 100%; }
  #modal > header {
    margin: 0; }
    #modal > header h2 {
      font-size: 2.5em;
      letter-spacing: -0.015em;
      margin: 0 0 1em 0; }
  #modal > .content {
    line-height: 1.75em; }
    #modal > .content > .status {
      position: absolute;
      top: 3em;
      right: 3em; }
    #modal > .content > :last-child {
      margin-bottom: 0; }
  #modal .item {
    border: solid 2px #eeeeee; }
  @media screen and (max-width: 768px) {
    #modal {
      padding: 2em 1.25em; }
      #modal header h2 {
        font-size: 1.5em; }
      #modal .status {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: -1.5em; }
        #modal .status .button {
          display: inline-block;
          width: auto; } }

