.footer-distributed{
	background-color: #68A4C4;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 12px 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: #000;
}

.footer-distributed .footer-links a:hover {
	color: #fff;
	font-weight: bold;
}


.footer-distributed .footer-company-name{
	color: #000;
	font-size: 14px;
	font-weight: normal;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
	margin-top: 10px;
	font-weight: normal;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 17px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #000;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
}

.footer-distributed .footer-center p span{
	display: block;
	font-size: 14px;
	line-height: 2;
	text-align: center;
	color: #000;
	font-weight: normal;
	}

.footer-distributed .footer-center p a{
	color: #000;
	text-decoration: none;
	font-weight: normal;
}

.footer-distributed .footer-center p a:hover { color: #fff;}
.footer-distributed .footer-center p { font-weight: normal;}
.footer-distributed .footer-right p {font-weight: normal;}
h7 { font-size:14px; font-weight:bold;}
/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
	margin-top: 5px;
}

.footer-distributed .footer-right i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 17px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 20px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color:  #000;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 29px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons .twitter:hover {color:#0084b4;}
.footer-distributed .footer-icons .facebook:hover {color:#3b5998;}
.footer-distributed .footer-icons .instagram:hover {color:#fbad50;}

.footer-distributed .footer-right a:hover { color: #fff;} 
.footer-distributed .footer-right a{ text-decoration: none;}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
